fastapi
uvicorn
databases
asyncpg
sqlalchemy
python-jose
passlib
python-dotenv
alembic
bcrypt
Mako
pydantic
pydantic[email]
psycopg2-binary
requests
bson
twilio
httpx
boto3
python-multipart
